body,
html {
  box-sizing: border-box;
  min-width: 320px;
  block-size: 100%;
  line-height: 1;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
::after,
::before {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  /* margin: 0; */
}
ul,
li {
  list-style: none;
  font-style: normal;
}
ul {
  padding-left: 0;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}
button {
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
